/*GENERAL*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #323232;
	background: #eeefed;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection {background: #d9de90; color:#000; text-shadow: none;}
::selection {background: #d9de90; color:#000; text-shadow: none;} /*farba po oznaceni*/

.container:before,
.container-ms:before,
.group:before,
.menu:before,
.container:after,
.container-ms:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.container-ms:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.container-ms,
.group,
.menu {
    *zoom: 1;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

strong {
	font-weight: 600;
}

.menu {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.menu li {
	float: left;
}

.fa {
	vertical-align: middle;
}

.fa-facebook-official{
	color: #1ab4d8;
	font-size: 1.6068965517241379310344827586207em ;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 1.25em;
}

/*CONTACT*/

/*NAVIGATION*/

.nav-bar {
	background: url('../img/dust_scratches.png') ;
}

.logo {
	background: url('../img/logo105.png') center 0 no-repeat; /*2.40625em*/
	text-align: center;
	float: left;
	margin: 0;
}

.logo p {
	color: #333;
	font-size: 0.9375em;
	padding-top: 2.4em;
	margin: 0;
	margin-right: 10px;
    text-shadow: 0.03333333333333333333333333333333em 0.03333333333333333333333333333333em 0.03333333333333333333333333333333em #000;
}

.orange {
	color: #de5728;
}

.blue {
	color: #39a3d4;
}

.navigation {
	float: right;
	width: 68.198198198198198198198198198198%;
}

.navigation .fa {
	display: block;
	padding-bottom: 10px;
}

.navigation li {
	width: 16.666666666666666666666666666667%;
	border-left: 0.0625em solid #cecece; /* 1/16 */
}

.navigation li:last-child {
	border-right: 0.0625em solid #cecece; /* 1/16 */
}

.navigation a {
	color: #5a5a5a;
	display: block;
	width: 100%;
	padding: 1.52em 0;
	text-align: center;
	transition: .4s;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
	color: #de5728;
}


/*NAVIGATION - ROLLBARR*/
.navigation ul {
	position: absolute;
	min-width: 12em; /* 192/16 */
	padding: 0;
	border: 0.125em solid #444; /* 2/16 */
	display: none;
}

.navigation ul li {
	float: none;
	width: 100%;
	display: block;
	background: url('../img/dust_scratches.png') ;
	border: none;
	font-weight: bold;
	border-bottom: solid 0.0625em rgba(0, 0, 0, 0.08);
}

.navigation ul a {
	font-size: 1em;
    padding: 1em 0;
}

.navigation ul .fa {
	font-size: 1.2em;
	display: inline-block;
	vertical-align: unset;
	position: absolute;
	left: 15%;
}

.navigation ul li:last-child {
	border: none;
}

.navigation ul li:hover {
	background: #e06337;
}

.navigation ul a:hover {
	color: #000;
}

/*.navigation li:hover ul {
	display: block;
}*/


/* ARTICLE */
.text-center {
	text-align: center;
}

.post-header {
	background: url('../img/cover.jpg') center 70% no-repeat;
}

.post-titlee {
	color: #FFF6C5;
    font-size: 3.125em; /* 50/16 */
    line-height: 1.12em; /* 56/50 */
    font-weight: 800;
    padding-top: 10em;
    text-align: center;
    text-shadow: 0.06em 0.06em  0.06em  #000;
}

.post-content {
	background: url('../img/dust_scratches.png');
	padding: 3.5em 0 7.375em; /* 118/16 */
}

.post-content h2 {
	color: #323232;
	font-weight: 400;
	font-size: 1.875em; /* 30/16 */
	line-height: 1.4em; /* 42/30 */
	margin-top: 0;
}

.post-title {
	color: #323232;
    font-size: 1.5125em;
    font-weight: 600;
    display: block;
    width: 50%;
    padding: 0.41379310344827586em 1.2413793103448276em; /* 12/29 */ /* 36/29 */
    border: 0.10344827586206896em solid #fff; /* 3/29 */
    /*letter-spacing: -0.06896551724137931em; /* 2/29 */
    margin: 2em auto 2.5em;
    transition: .8s all;
    text-align: center;
    background:  #d2eaf5;
}

.post-title:hover {
	background: #b6ddef;
}

.header-oznamy {
	font-size: 2.5em;
	text-transform: uppercase;
    color: #486883;
    letter-spacing: 0.125em;
    text-align: center;
    margin-bottom: 0.3em;
}

.post-content hr {
	width: 50%;
}

#notice {
	margin: 2em auto 3.5em;
}

#notice li {
	width: 33%;
}

.aktuality {
	margin: 0 auto 5em;
	width: 80%;
	text-align: center;
}

.aktuality p {
	font-size: 1.4em;
	line-height: 1.4em;
}

#prazdniny {
	padding-bottom: 2.5em;
    width: 50%;
    border: 0.125em solid #de5728;
    border-radius: 0.25em;
}

.button-aktuality {
	display: inline-block;
	width: 70%;
	color: #ffffff;
	background: #de5728;
	font-weight: bold;
	border-radius: 0.3125em; /* 5/16 */
	padding: 0.75em 0; /* 12/16 */
	transition: .5s all;
}

#kurzy .button-aktuality {
	width: 35%;
}

.button-prazdniny:hover {
	background: #2aafe4;
}

.vizualizacia {
	background: url('../img/wood.jpg') center 100% no-repeat;
	background-size: cover;
	text-align: center;
}

.text-vizu {
	padding: 0.5em;
	color: #fff;
    font: 2.5em Rockwell, "Courier Bold", Georgia, serif;
    font-weight: bold;
    text-shadow: 0.06em 0.06em 0.06em #000;
    margin-top: 0;
    margin-bottom: 1em;
}

.gallery,
.gallery-index {
	font-size: 0;
}

.gallery-index a {
	display: inline-block;
	width: 33.133333333333333333333333333333%;
	overflow: hidden;
	margin: 0 0.2% 0.2% 0;
}

.gallery img,
.gallery-index img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	-webkit-transition: all .5s;
			transition: all .5s;
}

.gallery-index img:hover,
.gallery-index img:focus {
	transform: scale(1.03);
}

/*Kontakt*/

.footer-wrapper {
	background: #252122;
	color: #ffffff;
	font-weight: 800;
}

.footer-wrapper .container {
	padding-bottom: 2.125em;
}

.footer-wrapper h1 {
	font-size: 2.875em; /* 46/16 */
	text-align: center;
}

.kontakty {
	width: 35%;
	float: left;
	padding: 0;
	margin-right: 18.955%;
}

.kontakty-info  {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.kontakty p,
.kontakty a {
	color: #ffffff;
    line-height: 1.875em; /* 30/16 */
	letter-spacing: 0.125em; /* 2/16 */
	margin: 0;
	text-decoration: none;
}

.kontakty li {
	border-top: solid 0.0625em rgba(255, 255, 255, 0.3); /* 1/16 */
	padding: 1.3em 0;
	list-style: none;
	white-space: nowrap;
}

.kontakty li:first-child {
	border-top: 0;
	padding-top: 0;
}

.kontakty .fa {
	color: #1c9dd1;
	margin-right: 11%;
}

#fb:hover {
	color: #1c9dd1;
}

.mapa {
	float: left;
	width: 46.045045045045045045045045045045%;
	height: 305px;
	margin-top: 3.125em; /* 50/16 */
	border: 0.1875em solid #1c9dd1; /* 3/16 */
}


/* PRE-FOOTER */
.dane {
	background: url('../img/dust_scratches.png');
}

.pre-footer {
	text-align: center;
	padding: 4em 1.25em 2.1875em; /* 35/16 */
}

.sidebar-dane {
	width: 30.630630630630630630630630630631%;	/*340/1110*/
	float: left;
}

.container-dane {
	width: 46.846846846846846846846846846847%;
	margin-right: 22.522522522522522522522522522522%;
	float: left;
	position: relative;
	top: 3.5em;
}

.sidebar-dane img {
	width: 100%;
	border-radius: 0.375em; /* 6/16 */
}

.pre-footer p {
	font-size: 1em;
	line-height: 1.875em /* 30/16 */
}

.pre-footer strong {
	font-size: 1.625em; /* 26/16 */
}

.container-dane .fa {
	font-size: 2em ;  /* 28/14 */
	padding: 0.2em 0;
	margin-right: 0.78125em; /* 25/32 */
}

.container-dane a {
	color: #323232;
}

/*FOOTER*/

footer {
	background: #2aafe4;
}

.prepared {
	font-size: 0.875em; /* 14/16 */
}

.prepared p {
	float: left;
}

.highlight {
	color: #fbfbfb;
}

.prepared p,
.prepared .menu {
	margin: 2.2857142857142856em 0; /* 32/14 */
}

.prepared .menu {
	font-weight: 600;
	text-transform: uppercase;
	float: right;
}

.prepared .menu a {
	color: #323232;
}

.prepared .menu a:hover,
.prepared .menu a:focus {
	text-decoration: underline;
}

.prepared li:after {
	content: '/';
	color: #fbfbfb;
	margin: 0 0.5714285714285714em; /* 8/14 */
}

.prepared li:last-child:after {
	content: '';
}


/*MONTESSORI*/
.post-headerMontessori {
	height: 450px;
	background: url('../img/montessori2.jpg') center 35px no-repeat fixed;
	background-size:cover;
}

.post-contentMontessori {
	padding-bottom: 150px;
	line-height: 23px;
}

.post-contentMontessori h2 {
	color: #323232;
	font-weight: 400;
	font-size: 1.875em; /* 30/16 */
	line-height: 42px;
}

/*O nas*/

/*.about-nav li {
	border: none;
}

.about-nav li:last-child {
    border-right: none;
}

.about-header {
	font-size: 1.1em;
	color: #486883;
    letter-spacing: 0.125em;
	text-align: center;
	margin: 4em auto 5em;
}

.about-header h2 {
	margin: 0;
}*/

.about-section {
	background: url('../img/dust_scratches.png') ;
}

.about-wrapper {
	display: flex;
	width: 100%;
	margin: 2em 0;
}

.about-wrapper img {
    max-width: 24%;
    object-fit: cover;
    border: 0.3em solid #ffffff;
}

.left img {
	border-right: none;
}

.right img {
	border-left: none;
}

.about-wrapper h1,
.about-wrapper img,
.about-wrapper p,
.about-wrapper .fa {
	display: flex;
    align-items: center;
}

.about-left,
.about-right {
	display: flex;
	border: 0.3em solid #ffffff;
}

.about-left {
	background: #e9f9ff;
	border-left: none;
}

.about-right {
	background: #fff2ee;
	border-right: none;
}

.about-wrapper h1 {
	padding: 0 1.5em;
    color: #39a3d4;
    text-align: center;
}

.about-right h1 {
	color: #de5728;
}

.about-left p {
	padding-right: 3em;
	text-align: center;
	line-height: 1.3em;
}

.about-right p {
	padding-left: 3em;
	text-align: center;
	line-height: 1.3em;
}

.right img {
	order: 3;
}

.right h1 {
	order: 2;
}

.about-wrapper .fa {
	display: none;
	cursor: pointer;
}

.about-wrapper .fa {
	font-size: 3em;
}

/*MS*/
/*IMAGE-SLIDER*/
.slider-ms {
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 33%;
}

.slide-img {
	position: absolute;
	width: 100%;
  	height: 100%;
}

.slide-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#i1, #i2, #i3, #i4, #i5, #i6 {
	display: none;
}

.arrow-ms {
	font-size: 3em;
	position: absolute;
	top: 45%;
	z-index: 99;
	cursor: pointer;
	color: #eee;
	display: none;
}

.pre {
	left: 5%;
}

.nxt {
	right: 5%;
}

.nav-dots {
	width: 100%;
	height: .5em;
	bottom: 10%;
	position: absolute;
	text-align: center;
	z-index: 99;
	display: none;
}

.dots {
	width: 2.5em;
	height: .3em;
	margin: 0 0.25em; /* 4/16 */
	position: relative;
	/*border-radius: 50%;*/
	display: inline-block;
	background: rgba(0, 0, 0, .6);
	cursor: pointer;
	transition: .4s;
	display: none;
}

.slide-img {
	z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six {
	z-index: 9;
	animation: scroll .8s ease-in-out;
}

@keyframes scroll {
	0% { opacity: .4;}
	100% { opacity: 1;}
}

#i1:checked ~ .nav-dots #dot1,
#i2:checked ~ .nav-dots #dot2,
#i3:checked ~ .nav-dots #dot3 {
	background: #fff;
}

.content-ms {
	background: url('../img/dust_scratches.png') ;
	font-family: 'Lato', sans-serif;
	color: #4a5666;
	text-align: center;
}

.container-ms {
	max-width: 950px;
	margin: 0 auto;
	padding: 0 1.25em;
}

.header-ms p {
    font-size: 1.625em; /* 26/16 */
    font-weight: 400;
    line-height: 1.4615384615384615em; /* 38/26 */
    letter-spacing: -0.02em;
    margin: 2.3076923076923075em 0; /* 60/26 */
    letter-spacing: 0.038461538461538464em; /* 1/26 */
}

.container-ms h1 {
	text-transform: uppercase;
    color: #486883;
    letter-spacing: 0.125em; /* 4/32 */
}

.container-ms hr {
	width: 60%;
}

.kruzky-vsetky {
	margin-top: 4em;
}

.kruzok {
	float: left;
	width: 46%;
	margin-bottom: 3em;
}

.kruzok:nth-child(1),
.kruzok:nth-child(3) {
	margin-right: 8%;
}

.kruzok img {
	width: 9%;
}

.kruzok h2 {
	color: #5a5a5a;
	text-transform: uppercase;
}

.kruzok p {
	line-height: 1.5em;
	padding: 0 1em;
}

.kruzky-vsetky .kruzok:last-child {
	margin-left: 27.5%;
}

.subory .kruzok {
	margin-top: 2em;
	margin-bottom: 6em;
	border: 0.125em solid #de5728; /* 2/16 */
    border-radius: 0.25em; /* 4/16 */
    padding-bottom: 2em;
}

.subory h2 {
	text-transform: unset;
}

.button-ms {
	color: #ffffff;
	background: #de5728;
	font-weight: bold;
	border-radius: 0.3125em; /* 5/16 */
	padding: 0.75em 0; /* 12/16 */
	width: 65%;
	display: inline-block;
	transition: .5s all;
}

.button-ms:hover {
	background: #2aafe4;
}


/*Galeria*/

/*.galeria li {
	border: none;
}

.galeria li:last-child {
    border: none;
}*/

.content-gallery {
	/*background: url('../img/dust_scratches.png');*/
	background: url('../img/blur.jpg') 47%;
	background-size: cover;
}

.controls {
	margin: 3.125em auto 4.5em; /* 50/16 */
	text-align: center;
}

.controls li {
	float: none;
	display: inline-block;
	padding: 0.3em 0;
}

.controls a {
	font-size: 1.375em; /* 22/16 */
	font-weight: 400;
	color: #39a3d4;
	padding: 0 1.1363636363636365em; /* 25/22 */
	line-height: 2.1818181818181817em; /* 48/22 */
	display: block;
}

.gallery-controls a {
	color: #fff;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
	max-height: 2.1818181818181817em; /* 48/22 */
	color: #fff;
	background: #de5728;
	border-radius: 0.18181818181818182em; /* 4/22 */
}

.gallery a {
	display: inline-block;
    width: 22.75%;
    height: 20vw;
    overflow: hidden;
    margin-right: 3%;
    margin-bottom: 2%;
    border: 5px solid #daf1f1;
}

.gallery img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery a:nth-child(4),
.gallery a:nth-child(8),
.gallery a:nth-child(12),
.gallery a:nth-child(16),
.gallery a:nth-child(20),
.gallery a:nth-child(24),
.gallery a:nth-child(28),
.gallery a:nth-child(32) {
    margin-right: 0;
}

.gallery-set {
	margin-bottom: 8%;
}

.gallery-set img:hover,
.gallery-set img:focus {
	transform: scale(1.03);
}

/*OVERLAY*/
#overlay {
	background: rgba(0,0,0,.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
}

#overlay img {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 5px solid white;
	border-radius: 5px;
}


/* MEDIA QUERIES */

@media (max-width: 1620px) {
	/*INDEX*/
	.post-header {
		background-size: 130%;
	}

	/*GALERIA*/
	.gallery a {
    	height: 25vw;
	}
}

@media (max-width: 1400px) {
	/*GALERIA*/
	.gallery a {
    	height: 30vw;
	}
}

 @media (max-width: 1150px) {
 	/*INDEX*/
	.main {
		font-size: 0.9em;
	}

 	.nav-bar .container {
 		padding-right: 0;
 	}

 	.navigation li:last-child {
 		border-right: none;
 	}

 	.post-content {
 		padding-bottom: 6em;
 	}

 	.footer-wrapper .container {
    	padding-bottom: 4em;
	}

 	.footer-wrapper h1 {
    	font-size: 2.475em;
    }

    .kontakty {
    	float: none;
    	display: block;
    	width: 100%;
    	margin-right: 0;
    	padding: 0 10%;
    }

    .kontakty li {
    	float: left;
    	width: 40%;
    }

    .kontakty li:nth-child(1),
    .kontakty li:nth-child(3) {
    	margin-right: 19.6%;
    }

    .kontakty li:nth-child(2) {
    	border-top: none;
    }

    .mapa {
    	float: none;
    	width: 100%;
    	margin-top: 2.5em;
    }

    .container-dane {
    	margin-right: 16.522523%;
    	top: 1.5em;
	}

	/*ABOUT*/

	/*MS*/
	.slider-ms {
		padding-bottom: 40%;
	}
 }


@media (max-width: 900px) {
	.nav-bar .logo {
		float: none;
		margin: 0 auto;
		margin-bottom: 1%;
	}

	.navigation {
		float: none;
		width: 100%;
	}

	.nav-bar .container {
		padding-left: 0;
	}

	.navigation {
		border-top: 1px solid #cecece;
	}

	.navigation li:first-child {
		border-left: none;
	}

	.post-titlee {
		padding-top: 8em;
	}

	.kontakty {
		padding: 0 3em;
	}

	.pre-footer {
		padding: 3em 1.25em 2.1875em;
	}

	.sidebar-dane {
    	width: 34.630631%;
	}

	/*O NAS*/
	.about-section {
	    font-size: 0.9em;
	}

	.about-wrapper {
	    flex-direction: column;
    	width: 47.5%;
    	float: left;
	}

	.about-wrapper:nth-child(1),
	.about-wrapper:nth-child(3) {
		margin-right: 5%;
	}

	.about-wrapper img {
	    max-width: 100%;
	    height: 100%;
	    border: 0.3em solid #ffffff;
    	border-bottom: none;
	}

	.about-left,
	.about-right {
	    flex-direction: column;
	    align-items: center;
	    border: 0.3em solid #ffffff;
   		border-top: none;
	}

	.about-left p,
	.about-right p {
		display: none;
	    padding: 0 2.5em;
	}

	.right img {
		order: 0;
	}

	.right h1 {
		order: 0;
	}

	.about-wrapper .fa {
	    display: block;
	    padding-bottom: 0.5em;
	    color: #486883;
	}

	.three-angle {
		margin-top: 0.75em;
	}

	/*MS*/
	.dots {
		height: 0.2em;
	}

	.content-ms {
		font-size: 0.9em;
	}

	/*GALERIA*/
	.gallery-menu {
		border-bottom: 0.0625em solid #cecece;
	}

	.content-gallery {
		background: url('../img/dust_scratches.png');
		background-size: unset;
	}

	.gallery a:nth-child(2),
	.gallery a:nth-child(6),
	.gallery a:nth-child(10),
	.gallery a:nth-child(14),
	.gallery a:nth-child(18),
	.gallery a:nth-child(22),
	.gallery a:nth-child(26),
	.gallery a:nth-child(30) {
	    margin-right: 0;
	}

	.gallery a {
		width: 48.5%;
	    height: 50vw;
	    color: #39a3d4;
	}

	.gallery-controls a {
		color: #39a3d4;
	}
}

@media (max-width: 800px) {
	.post-header {
		background-size: 155%;
	}

	.post-titlee {
		font-size: 2.825em;
	}

	.prepared p {
		float: none;
    	text-align: center;
	}

	.prepared .menu {
		float: none;
		text-align: center;
	}

	.prepared .menu li {
		float: none;
		display: inline-block;
	}

	.prepared p,
	.prepared .menu {
    	margin: 1.6em 0;
	}
}

 @media (max-width: 766px) {
 	.gallery-index a {
 		width: 49.8%;
 	}

 	.gallery-index a:nth-child(5),
 	.gallery-index a:nth-child(6) {
 		margin-bottom: 0;
 	}

 	.post-content {
 		padding-bottom: 0;
 	}

 	.kontakty {
		padding: 0;
		text-align: center;
	}

	.kontakty li {
		float: none;
		width: 100%;
		padding: 1em 0;
	}

	.kontakty li:nth-child(2) {
    	border-top: solid 0.0625em rgba(255, 255, 255, 0.3);
    }

	.kontakty li:nth-child(1),
    .kontakty li:nth-child(3) {
    	margin-right: 0;
    }

    .kontakty-info {
    	width: 70%;
    }

    .kontakty .fa {
     	margin-right: 0;
     }

     .mapa {
     	margin-top: 1.5em;
     }

     .container-dane {
    	margin-right: 12.522523%;
    	position: unset;
	}

	.sidebar-dane {
    	width: 40.630631%;
	}
}

@media (max-width: 650px) {
	/*INDEX*/
	#notice li {
		width: 100%;
		font-size: 1em;
	}

	/*MS*/
	.slider-ms {
    	padding-bottom: 50%;
	}

	.header-ms p {
		font-size: 1.525em;
	}

	.kruzok {
    	float: none;
    	width: 100%;
    	padding-bottom: 1.5em;
    	margin-bottom: 1.5em;
    	margin-right: 0;
    	border-bottom: solid 0.0625em rgba(0, 0, 0, 0.08);
	}

	.kruzok:nth-child(1),
	.kruzok:nth-child(3) {
     	margin-right: 0;
	}

	.kruzky-vsetky .kruzok:last-child {
    	margin-left: 0;
    	border-bottom: none;
	}

	.subory .kruzok {
		margin-bottom: 3em;
	}

	/*GALERIA*/
	.controls {
		margin: 1.125em auto 1.5em;
	}

	.controls li {
    	width: 49%;
    	font-size: 0.7em;
	}
}

@media (max-width: 580px) {
	.main {
    	font-size: 0.8em;
	}

	.post-titlee {
    	font-size: 2.525em;
    	padding-bottom: 8em;
    	padding-top: 0;
	}

	.footer-wrapper {
 		font-size: 0.9em;
 	}

 	.footer-wrapper h1 {
    	margin: 1em 0;
    }

 	.mapa {
		height: 255px;
	}

	.pre-footer {
    	padding: 2em 1.25em 2.1875em;
	}

	.container-dane {
		width: 100%;
		float: none;
    	margin-right: 0;
    	padding-bottom: 1em;
    	border-bottom: solid 0.0625em rgba(0, 0, 0, 0.08);
	}

	.sidebar-dane {
		padding-top: 2em;
    	width: 100%;
	}

	.sidebar-dane img {
		width: 60%;
	}

	.container-dane p {
		margin: 0.5em 0;
	}

	/*O NAS*/
	.about-wrapper {
	    flex-direction: column;
    	width: 70%;
    	float: none;
    	margin: 2em auto;
	}

	.about-wrapper:nth-child(1),
	.about-wrapper:nth-child(3) {
		margin-right: auto;
	}

	.about-wrapper img {
	 	height: 50vw;
	}

}

@media (max-width: 500px) {
	.post-header {
		background-size: 170%;
	}

 	.navigation li {
		width: 33.33333333%;
		font-size: 80%;
 	}

 	.navigation li:nth-child(4),
 	.navigation li:nth-child(5),
 	.navigation li:nth-child(6) {
 		border-top: 0.0625em solid #cecece; /* 1/16 */
 	}

 	.post-titlee {
    	font-size: 2.425em;
	}

	.text-vizu {
		font-size: 2.3em;
	}
 }

@media (max-width: 475px) {
	.main {
		font-size: 0.7em;
	}

	.post-header {
    	background-size: 190%;
    	background-position: 55% 70%;
	}

	.navigation li {
		font-size: 75%;
 	}

 	.post-title {
 		width: 75%;
 	}

 	.kontakty-info {
    	width: 80%;
	}

	.pre-footer {
		font-size: 0.9em;
	}

	.footer-wrapper .container {
    	padding-bottom: 2em;
	}

	.prepared {
    	font-size: 0.775em;
	}

	/*GALERIA*/
	.controls li {
       font-size: 0.6em;
	}
}

 @media (max-width: 420px) {
 	.gallery-index a {
 		width: 100%;
 		margin: 0;
 	}

 	.navigation li {
		font-size: 65%;
 	}

 	.post-titlee {
    	font-size: 2.025em;
    	padding-bottom: 10em;
    	padding-top: 0.4em;
	}

	.kontakty-info {
    	width: 85%;
	}

	.kontakty p,
	.kontakty a {
    	line-height: 1.6em;
    	letter-spacing: 0.07em;
	}

	.mapa {
		height: 200px;
	}

	.sidebar-dane img {
    	width: 70%;
	}

	/*O NAS*/
	.about-section {
	    font-size: 0.8em;
	}

	.about-wrapper {
	    width: 80%;
	}

	.about-left p,
	.about-right p {
		line-height: 1.5em;
	}

	/*MS*/
	.slider-ms {
		font-size: 0.5em;
    	padding-bottom: 65%;
	}

	.header-ms p {
    	font-size: 1.325em;
	}

	.content-ms {
		font-size: 0.8em;
	}

	.container-ms h1 {
		font-size: 1.8em;
	}

	.kruzky-vsetky {
    	margin-top: 3em;
	}

	/*GALERIA*/
	.gallery a {
    	width: 100%;
    	height: 110vw;
    	margin-right: 0;
	}
}

@media (max-width: 350px) {
	.post-content h2 {
    	font-size: 1.675em;
	}

	.post-title {
 		width: 100%;
 		margin: 1.5em auto 2em;
 	}

 	.text-vizu {
		font-size: 2em;
	}

	.footer-wrapper {
 		font-size: 0.8em;
 	}

 	.kontakty-info {
    	width: 85%;
	}
}


@media (max-width: 315px) {
 	.post-header {
    	background-size: 222%;
	}

	.mapa {
		height: 160px;
	}

	.sidebar-dane img {
    	width: 100%;
	}
}


.empty {
	padding-top: 50%;
}



/*.post-titlee {
	animation: spin 1s infinite linear;
}*/

/*.gallery-index a {
	animation: spin 1s infinite linear;
}*/

/** {
	animation: spin 1s infinite linear;
}*/

/*@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}*/
